.welcome-font{
    font-size: 48px;
    color: white;
    background: seagreen ;
    width: auto;
    padding: 20px;
    text-align: center ;
}

.wrapper{
    position: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px;
}