<br>

<div class="row mt-1">
    <div class="col-md-12">
        <h1 class="center"><b>EDIT STUDENT ACCOUNT INFO</b></h1>
        <form [formGroup]="service.formModel" autocomplete="off" (submit)="editStudentInfo()">
            <div class="form-group required">
                <label>Student Name</label>
                <input class="form-control" formControlName="StudentName" name="studentName" [ngModel]="student.studentName">
                <!-- <label class="text-danger" *ngIf="service.formModel.get('StudentName').touched && service.formModel.get('StudentName').errors?.required">This field is mandatory</label> -->
            </div>
            <div class="form-group">
                <label>BSSE Roll</label>
                <input [readonly]=true style="background-color: aqua;" class="form-control" formControlName="BSSEROLL" name="bsseRoll" [ngModel]="student.bsseroll">
                <!-- disabled -->
                <!-- <label class="text-danger" *ngIf="service.formModel.get('BSSEROLL').touched && service.formModel.get('BSSEROLL').errors?.required">This field is mandatory</label> -->
            </div>
            <div class="form-group required">
                <label>Session</label>
                <input class="form-control" formControlName="Session" name="session" [ngModel]="student.session">
                <!-- <label class="text-danger" *ngIf="service.formModel.get('Session').touched && service.formModel.get('Session').errors?.required">This field is mandatory</label> -->
            </div>
            <div class="form-group required">
                <label>BSSE Batch No</label>
                <input class="form-control" formControlName="BatchNo" [ngModel]="student.batchNo">
                <!-- <label class="text-danger" *ngIf="service.formModel.get('BSSEROLL').touched && service.formModel.get('BSSEROLL').errors?.required">This field is mandatory</label> -->
            </div>
            <div class="form-group required">
                <label>Hall Name</label>
                <input class="form-control" formControlName="HallName" [ngModel]="student.hallName">
                <!-- <label class="text-danger" *ngIf="service.formModel.get('BSSEROLL').touched && service.formModel.get('BSSEROLL').errors?.required">This field is mandatory</label> -->
            </div>
            <div class="form-group">
                <label>Email</label>
                <input [readonly]=true style="background-color: aqua;" class="form-control" formControlName="Email"  name="email" [ngModel]="student.email">
                <!-- <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Invalid Email Address</label> -->
                <!-- <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.required">This field is mandatory</label> -->

            </div>
            <div class="form-group required">
                <label>Mobile Number</label>
                <input class="form-control" formControlName="MobileNumber" name="mobileNumber" [ngModel]="student.mobileNumber">
                <!-- <label class="text-danger" *ngIf="service.formModel.get('MobileNumber').touched && service.formModel.get('MobileNumber').errors?.required">This field is mandatory</label> -->
            </div>
           
            
            <br>
            <div class="form-row">
                <div class="form-group col-md-6 offset-md-3">
                    <button type="submit" class="btn btn-lg btn-block" >SUBMIT</button>
                    <br>
                </div>
                
            </div>
        </form>
    </div>
</div>
