<div class="row">
    <div class="col-sm-4 tile-margin">
        <div class="create-new">
            <div class="create-button" routerLink='/admin/course-management/create-new' routerLinkActive='active'>
                <div> Create New course <mat-icon>add_box</mat-icon></div>
            </div>
        </div>
    </div> 
    <div *ngFor="let course of courses" class="col-sm-4 tile-margin">
        <div class="tile-style">
                <div class="row title-style">
                    <div class="col-sm-10">
                        <div (click)="openCourse(course)"> {{course.courseId}}: {{course.courseName}}</div>
                    </div>
                    <div class="col-sm-2">
                        <button mat-icon-button (click)="mySelect.toggle()" class="more"><mat-icon>more_vert</mat-icon></button>
                        <mat-select #mySelect class="option-size">
                            <mat-option (click)="openCourse(course)">
                                Open
                            </mat-option> 
                            <mat-option (click)="editCourseBasicInfo(course)">
                                Edit Info
                            </mat-option>
                            <mat-option (click)="deleteCourse(course)">
                                Delete
                            </mat-option>
            
                        </mat-select>
                    </div>
                </div> 
                <br>
                <div class="padding">
                    <div class="subtitle-style">BATCH: BSSE{{course.batchNo}}</div>

                    <br><br>
                    
                    <div class="subsubtitle-style">{{course.teacher1Name}}<br>
                    {{course.teacher2Name}}</div>
                </div>

        </div>
    </div> 
</div>