<div class="bottomPartBackground">
    <div class="row">
        <div class="col-md-6 offset-md-1 font-white font-small">
                <br>CONTACT US: <br>

                <div class="offset-md-1 font-small">
                    <div class="font-large">Rabiul Islam Sujon</div>
                s.rabiulislam429@gmail.com<br>
                Katchpur, Narayangonj, Bangladesh
                </div>

                <br>PHONE NO: <br>
                <div class="offset-md-1">
                +8801308554743 <br>
                +8801633667872
                </div>
        </div>
        <div class="col-sm-3">
            <br><br>
            <img src="assets/images/iitlogo.png" height="80px">
            <br>
            <div class="font-navy">
                IIT, University Of Dhaka
            </div>
        </div>
        <div class="col-sm-2 ">
            <br>
            <img src="assets/images/dulogo.png" height="140px">
        </div>
    </div>
    <br><br>
    <div class="font-black d-flex justify-content-center font-small">
        @Developed by RI Sujon
    </div>
</div>