.verticalRow{
    border-right: 1pt solid black;
    padding: 10px;
}

.bodyStyle{
    padding: 30px 30px 30px 50px;
    margin: 0px 50px 50px 50px;
    background-color: rgba(250, 228, 228, 0.877);
    min-height: 1000px;
    font-family: sans-serif;
    width: inherit;
    font-size: larger;
}

.infoStyle{
    font-size: small;
    color: rgb(12, 12, 36);
    font-family: cursive;
}