
<div class="container-fluid text-center heightB">    
  <div class="row content">
    <div class="col-sm-2 sidenav text-left">
      <button mat-raised-button routerLink='/admin/homepage' routerLinkActive='active' class="option-style"> Home </button>
      <button mat-raised-button routerLink='/admin/students-management/view-list' routerLinkActive='active' class="option-style">Students Management</button>
      <button mat-raised-button routerLink='/admin/teachers-management/view-list' routerLinkActive='active' class="option-style">Teachers Management</button>
      <button mat-raised-button routerLink='/admin/course-management/view-list' routerLinkActive='active' class="option-style">Course Management</button>
    </div>
    <div class="col-sm-10 text-left"> 
      <router-outlet></router-outlet>
    </div>
    
  </div>
</div>
